body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar { 
  width: 100px;
  height: 100vh;
  background-color: #1a3c6e;
  color: white;
  padding: 1rem;
} 

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

.main-content {
  flex: 1;
  margin-left: 220px;
  padding: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
}

.theme-toggle {
  background: transparent;
  border: 1px solid #1a3c6e;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.theme-dark {
  background-color: #121212;
  color: white;
}

.theme-light {
  background-color: #f8f9fa;
  color: black;
}
